{
  "presets": [
    [
      "env", {
        "useBuiltIns": true,
        "loose": true,
        "modules": false,
        "node": true,
        "browsers": [
          "> 1%",
          "iOS >= 8",
          "IE >= 11"
        ],
        "exclude": [ "transform-regenerator", "transform-async-to-generator" ]
      }
    ],
    "react",
    "stage-0"
  ]
}
